# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [178]:
# Your code goes here

import pandas as pd 
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df_1 = pd.read_csv(url1)
df_2 = pd.read_csv(url2)
df_3 = pd.read_csv(url3)

In [179]:
def explorar_df(df):
    print(df.info())

    print('Primeras filas')
    print(df.head())

    print('Describe()')
    print(df.describe(include='all').T)

    print('Nulos')
    nulos = df.isnull().sum()
    print(nulos[nulos > 0] if nulos.any() else 'Notnnull')

    print('Duplicados')
    print(df.duplicated().sum())
    
    print('Tamaño')
    print(f"Filas: {df.shape[0]} | Columnas: {df.shape[1]}")

In [180]:
## Esta función está a partir de la segunda limpieza, redactada a partir de los pasos de limpieza del dataset 1 
def limpiar_dataset(df):
    df_clean = df.copy()
    df_clean.columns = (df_clean.columns
                        .str.strip()
                        .str.lower()
                        .str.replace(' ', '_')
                        .str.replace('.', '', regex=False))
    df_clean.duplicated().sum()
    df_clean = df_clean.drop_duplicates()
    df_clean = df_clean.dropna(how='all')

    return df_clean

## LIMPIEZA

### Limpieza 1:

In [181]:
df_1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [182]:
explorar_df(df_1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None
Primeras filas
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Describe()
                            count unique            top freq          mean  \
Customer                     1071   1071        RB50392    1           NaN
ST                           1071      8         Oregon  320           NaN
GENDER                        954      5              F  457           NaN
Education                    1071      6       Bachelor  324           NaN
Customer Lifetime Value      1068   1027     445811.34%    4           NaN
Income                     1071.0    NaN            NaN  NaN  39295.701214
Monthly Premium Auto       1071.0    NaN            NaN  NaN     193.23436
Number of Open Complaints    1071      6         1/0/00  830           NaN
Policy Type                  1071      3  Personal Auto  780           NaN
Vehicle Class                1071      6  Four-Door Car  576           NaN
Total Claim Amount         1071.0    NaN            NaN  NaN    404.986909

                                   std       min         25%         50%  \
Customer                           NaN       NaN         NaN         NaN
ST                                 NaN       NaN         NaN         NaN
GENDER                             NaN       NaN         NaN         NaN
Education                          NaN       NaN         NaN         NaN
Customer Lifetime Value            NaN       NaN         NaN         NaN
Income                     30469.42706       0.0     14072.0     36234.0
Monthly Premium Auto       1601.190369      61.0        68.0        83.0
Number of Open Complaints          NaN       NaN         NaN         NaN
Policy Type                        NaN       NaN         NaN         NaN
Vehicle Class                      NaN       NaN         NaN         NaN
Total Claim Amount           293.02726  0.382107  202.157702  354.729129

                               75%          max
Customer                       NaN          NaN
ST                             NaN          NaN
GENDER                         NaN          NaN
Education                      NaN          NaN
Customer Lifetime Value        NaN          NaN
Income                     64631.0      99960.0
Monthly Premium Auto         109.5      35354.0
Number of Open Complaints      NaN          NaN
Policy Type                    NaN          NaN
Vehicle Class                  NaN          NaN
Total Claim Amount           532.8  2893.239678
Nulos
Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64
Duplicados
2936
Tamaño
Filas: 4008 | Columnas: 11

In [183]:
## Eliminamos duplicados
df_1 = df_1.drop_duplicates()

In [184]:
## Verificamos
df_1.duplicated().sum()

np.int64(0)

In [185]:
## Comprobamos nulos
df_1.isnull().sum()

Customer                       1
ST                             1
GENDER                       118
Education                      1
Customer Lifetime Value        4
Income                         1
Monthly Premium Auto           1
Number of Open Complaints      1
Policy Type                    1
Vehicle Class                  1
Total Claim Amount             1
dtype: int64

In [186]:
## Eliminamos nulos 
df_1 = df_1.dropna()

In [187]:
## Verificamos 
df_1.isnull().sum()

Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64

In [188]:
## Comprobamos los valores únicos para unificar aquellas coumnas que necesiten unificase como Gender o State. 
df_1.nunique()

Customer                     952
ST                             8
GENDER                         5
Education                      6
Customer Lifetime Value      921
Income                       688
Monthly Premium Auto         128
Number of Open Complaints      6
Policy Type                    3
Vehicle Class                  6
Total Claim Amount           688
dtype: int64

#### Gestión de unificación

In [189]:
df_1['ST'].unique()

array(['Arizona', 'Nevada', 'California', 'Washington', 'Oregon', 'AZ',
       'WA', 'Cali'], dtype=object)

In [190]:
## Unificamos valores de State
df_1['ST'] = df_1['ST'].replace({
    'WA' : 'Washington',
    'Cali': 'California',
    'AZ': 'Arizona'
    })

In [191]:
## Verificamos 
df_1['ST'].unique()

array(['Arizona', 'Nevada', 'California', 'Washington', 'Oregon'],
      dtype=object)

In [192]:
df_1['GENDER'].unique()

array(['F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [193]:
df_1['GENDER'] = df_1['GENDER'].replace({
    'Femal' : 'F',
    'Male': 'M',
    'female': 'F'
    })

In [194]:
## Verificamos
df_1['GENDER'].unique()

array(['F', 'M'], dtype=object)

In [195]:
df_1 = df_1.dropna()

#### Unificamos nombres de columnas

In [196]:
df_1.columns = df_1.columns.str.lower().str.replace(' ', '_')

In [197]:
## Verificamos 
df_1.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Limpieza 2

In [198]:
explorar_df(df_2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB
None
Primeras filas
  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car
Describe()
                           count unique            top freq          mean  \
Customer                     996    996        GS98873    1           NaN
ST                           996      6         Oregon  303           NaN
GENDER                       991      4              F  527           NaN
Education                    996      6        College  311           NaN
Customer Lifetime Value      992    950     552821.28%    4           NaN
Income                     996.0    NaN            NaN  NaN  39764.920683
Monthly Premium Auto       996.0    NaN            NaN  NaN     143.34739
Number of Open Complaints    996      6         1/0/00  796           NaN
Total Claim Amount         996.0    NaN            NaN  NaN    417.609099
Policy Type                  996      3  Personal Auto  756           NaN
Vehicle Class                996      6  Four-Door Car  519           NaN

                                    std       min         25%      50%  \
Customer                            NaN       NaN         NaN      NaN
ST                                  NaN       NaN         NaN      NaN
GENDER                              NaN       NaN         NaN      NaN
Education                           NaN       NaN         NaN      NaN
Customer Lifetime Value             NaN       NaN         NaN      NaN
Income                     30203.714667       0.0     16505.5  36533.0
Monthly Premium Auto         572.289901      61.0        68.0     80.0
Number of Open Complaints           NaN       NaN         NaN      NaN
Total Claim Amount           271.928647  1.687291  278.794307    350.4
Policy Type                         NaN       NaN         NaN      NaN
Vehicle Class                       NaN       NaN         NaN      NaN

                                  75%          max
Customer                          NaN          NaN
ST                                NaN          NaN
GENDER                            NaN          NaN
Education                         NaN          NaN
Customer Lifetime Value           NaN          NaN
Income                        63540.0      99981.0
Monthly Premium Auto            107.0       7575.0
Number of Open Complaints         NaN          NaN
Total Claim Amount         513.339366  2201.327879
Policy Type                       NaN          NaN
Vehicle Class                     NaN          NaN
Nulos
GENDER                     5
Customer Lifetime Value    4
dtype: int64
Duplicados
0
Tamaño
Filas: 996 | Columnas: 11

In [199]:
df_clean_2 = limpiar_dataset(df_2)

In [200]:
df_clean_2.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [201]:
df_clean_2.nunique()

customer                     996
st                             6
gender                         4
education                      6
customer_lifetime_value      950
income                       733
monthly_premium_auto         126
number_of_open_complaints      6
total_claim_amount           667
policy_type                    3
vehicle_class                  6
dtype: int64

In [202]:
df_clean_2['st'].unique()

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington', 'AZ'],
      dtype=object)

In [203]:
df_clean_2['st'] = df_clean_2['st'].replace({
    'AZ' : 'Arizona'})

In [204]:
df_clean_2['gender'].unique()

array(['F', 'M', nan, 'female', 'Male'], dtype=object)

In [205]:
df_clean_2['gender'] = df_clean_2['gender'].replace ({
    'female': 'F',
    'Male': 'M'
})

In [206]:
df_clean_2 = df_clean_2.dropna()

## Limpieza 3

In [207]:
explorar_df(df_3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB
None
Primeras filas
  Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV
Describe()
                            count unique            top  freq          mean  \
Customer                     7070   7070        SA25987     1           NaN
State                        7070      5     California  2544           NaN
Customer Lifetime Value    7070.0    NaN            NaN   NaN   8028.803803
Education                    7070      5       Bachelor  2152           NaN
Gender                       7070      2              F  3576           NaN
Income                     7070.0    NaN            NaN   NaN  37333.857709
Monthly Premium Auto       7070.0    NaN            NaN   NaN      93.19901
Number of Open Complaints  7070.0    NaN            NaN   NaN        0.3843
Policy Type                  7070      3  Personal Auto  5256           NaN
Total Claim Amount         7070.0    NaN            NaN   NaN     436.21596
Vehicle Class                7070      6  Four-Door Car  3546           NaN

                                    std          min          25%  \
Customer                            NaN          NaN          NaN
State                               NaN          NaN          NaN
Customer Lifetime Value     6942.419253  1898.007675  3981.073024
Education                           NaN          NaN          NaN
Gender                              NaN          NaN          NaN
Income                     30349.879656          0.0          0.0
Monthly Premium Auto          34.210682         61.0         68.0
Number of Open Complaints      0.915658          0.0          0.0
Policy Type                         NaN          NaN          NaN
Total Claim Amount           291.236837     0.099007    274.36362
Vehicle Class                       NaN          NaN          NaN

                                   50%          75%          max
Customer                           NaN          NaN          NaN
State                              NaN          NaN          NaN
Customer Lifetime Value    5782.095838  8989.995803  83325.38119
Education                          NaN          NaN          NaN
Gender                             NaN          NaN          NaN
Income                         33557.5      61895.5      99961.0
Monthly Premium Auto              83.0        109.0        298.0
Number of Open Complaints          0.0          0.0          5.0
Policy Type                        NaN          NaN          NaN
Total Claim Amount          386.031248        552.0  2759.794354
Vehicle Class                      NaN          NaN          NaN
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 7070 | Columnas: 11

In [208]:
df_clean_3 = limpiar_dataset(df_3)

In [209]:
df_clean_3.head()

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [210]:
df_clean_3.nunique()

customer                     7070
state                           5
customer_lifetime_value      6288
education                       5
gender                          2
income                       4463
monthly_premium_auto          194
number_of_open_complaints       6
policy_type                     3
total_claim_amount           4025
vehicle_class                   6
dtype: int64

## Unificamos nombres de columnas para no tener problemas con el merge

In [213]:
df_1.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [214]:
df_clean_2.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [215]:
df_clean_3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [216]:
df_clean_3 = df_clean_3.rename(columns={'state': 'st'})

## Unimos los tres datasets

In [212]:
## Decidimos unir con outer merge porque queremos conservar todos los valores de las tablas independientemente de si coinciden o no.

In [217]:
df_1y2 = pd.merge(df_1, df_clean_2, how = 'outer')

In [220]:
## Comprobamos que los tipos de todas las columnas funcionen igual en todas, para no tener conflictos en el merge. Además decidimos qué nos interesará más según nuestras hipótesis.

In [218]:
df_1y2.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [219]:
df_clean_3.dtypes

customer                      object
st                            object
customer_lifetime_value      float64
education                     object
gender                        object
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
total_claim_amount           float64
vehicle_class                 object
dtype: object

In [231]:
new_types = {
    'customer_lifetime_value' :'object',
    'income': 'float64',
    'monthly_premium_auto': 'float64',
    'number_of_open_complaints': 'object'
}
df_clean_3 = df_clean_3.astype(new_types)

In [232]:
##Verificamos que se han efectuado los cambios 
df_clean_3.dtypes

customer                      object
st                            object
customer_lifetime_value       object
education                     object
gender                        object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
total_claim_amount           float64
vehicle_class                 object
dtype: object

In [233]:
df_final = pd.merge(df_1y2, df_clean_3, how = 'outer')

In [234]:
explorar_df(df_final)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9007 entries, 0 to 9006
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9007 non-null   object
 1   st                         9007 non-null   object
 2   gender                     9007 non-null   object
 3   education                  9007 non-null   object
 4   customer_lifetime_value    9007 non-null   object
 5   income                     9007 non-null   float64
 6   monthly_premium_auto       9007 non-null   float64
 7   number_of_open_complaints  9007 non-null   object
 8   policy_type                9007 non-null   object
 9   vehicle_class              9007 non-null   object
 10  total_claim_amount         9007 non-null   float64
dtypes: float64(3), object(8)
memory usage: 774.2+ KB
None
Primeras filas
  customer          st gender             education customer_lifetime_value  \
0  AA10041  California      M  High School or Below             7901.744238
1  AA11235      Nevada      F              Bachelor             2568.843396
2  AA16582  Washington      M              Bachelor             24127.50402
3  AA30683  California      M              Bachelor             6595.101921
4  AA34092  California      M               College             28799.95415

    income  monthly_premium_auto number_of_open_complaints    policy_type  \
0      0.0                 113.0                         0  Personal Auto
1  11167.0                  73.0                         3  Personal Auto
2  14072.0                  71.0                         0  Personal Auto
3      0.0                 105.0                         2  Personal Auto
4  33635.0                 240.0                         0  Personal Auto

   vehicle_class  total_claim_amount
0            SUV         1258.327804
1   Two-Door Car          350.400000
2  Four-Door Car          511.200000
3  Four-Door Car          847.717402
4     Luxury SUV         1152.000000
Describe()
                            count  unique            top    freq         mean  \
customer                     9007    8933        MP96373       2          NaN
st                           9007       5     California    3112          NaN
gender                       9007       2              F    4602          NaN
education                    9007       6       Bachelor    2675          NaN
customer_lifetime_value    9007.0  8103.0     5169.49937     6.0          NaN
income                     9007.0     NaN            NaN     NaN  37832.75186
monthly_premium_auto       9007.0     NaN            NaN     NaN    109.89386
number_of_open_complaints  9007.0    12.0            0.0  5629.0          NaN
policy_type                  9007       3  Personal Auto    6694          NaN
vehicle_class                9007       6  Four-Door Car    4563          NaN
total_claim_amount         9007.0     NaN            NaN     NaN   430.911052

                                    std       min         25%         50%  \
customer                            NaN       NaN         NaN         NaN
st                                  NaN       NaN         NaN         NaN
gender                              NaN       NaN         NaN         NaN
education                           NaN       NaN         NaN         NaN
customer_lifetime_value             NaN       NaN         NaN         NaN
income                     30391.062324       0.0         0.0     34307.0
monthly_premium_auto         581.626091      61.0        68.0        83.0
number_of_open_complaints           NaN       NaN         NaN         NaN
policy_type                         NaN       NaN         NaN         NaN
vehicle_class                       NaN       NaN         NaN         NaN
total_claim_amount           290.338038  0.099007  266.345177  377.422029

                               75%          max
customer                       NaN          NaN
st                             NaN          NaN
gender                         NaN          NaN
education                      NaN          NaN
customer_lifetime_value        NaN          NaN
income                     62462.5      99981.0
monthly_premium_auto         109.0      35354.0
number_of_open_complaints      NaN          NaN
policy_type                    NaN          NaN
vehicle_class                  NaN          NaN
total_claim_amount           547.2  2893.239678
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 9007 | Columnas: 11

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [237]:
url_mkt = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df_mkt = pd.read_csv(url_mkt)

In [238]:
explorar_df(df_mkt)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
Primeras filas
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
Describe()
                                 count unique            top   freq  \
unnamed:_0                     10910.0    NaN            NaN    NaN
customer                         10910   9134        ID89933      7
state                            10910      5     California   4183
customer_lifetime_value        10910.0    NaN            NaN    NaN
response                         10910      2             No   9444
coverage                         10910      3          Basic   6660
education                        10910      5       Bachelor   3272
effective_to_date                10910     59     2011-01-10    239
employmentstatus                 10910      5       Employed   6789
gender                           10910      2              F   5573
income                         10910.0    NaN            NaN    NaN
location_code                    10910      3       Suburban   6902
marital_status                   10910      3        Married   6319
monthly_premium_auto           10910.0    NaN            NaN    NaN
months_since_last_claim        10910.0    NaN            NaN    NaN
months_since_policy_inception  10910.0    NaN            NaN    NaN
number_of_open_complaints      10910.0    NaN            NaN    NaN
number_of_policies             10910.0    NaN            NaN    NaN
policy_type                      10910      3  Personal Auto   8128
policy                           10910      9    Personal L3   4118
renew_offer_type                 10910      4         Offer1   4483
sales_channel                    10910      4          Agent   4121
total_claim_amount             10910.0    NaN            NaN    NaN
vehicle_class                    10910      6  Four-Door Car   5834
vehicle_size                     10910      3        Medsize   7873
vehicle_type                     10910      1              A  10910
month                          10910.0    NaN            NaN    NaN

                                       mean          std          min  \
unnamed:_0                           5454.5  3149.590053          0.0
customer                                NaN          NaN          NaN
state                                   NaN          NaN          NaN
customer_lifetime_value         8018.241094  6885.081434  1898.007675
response                                NaN          NaN          NaN
coverage                                NaN          NaN          NaN
education                               NaN          NaN          NaN
effective_to_date                       NaN          NaN          NaN
employmentstatus                        NaN          NaN          NaN
gender                                  NaN          NaN          NaN
income                         37536.284785  30359.19567          0.0
location_code                           NaN          NaN          NaN
marital_status                          NaN          NaN          NaN
monthly_premium_auto              93.196059    34.442532         61.0
months_since_last_claim           15.149071      9.78352          0.0
months_since_policy_inception     48.091934    27.940675          0.0
number_of_open_complaints          0.384256     0.885589          0.0
number_of_policies                 2.979193     2.399359          1.0
policy_type                             NaN          NaN          NaN
policy                                  NaN          NaN          NaN
renew_offer_type                        NaN          NaN          NaN
sales_channel                           NaN          NaN          NaN
total_claim_amount                434.88833   292.180556     0.099007
vehicle_class                           NaN          NaN          NaN
vehicle_size                            NaN          NaN          NaN
vehicle_type                            NaN          NaN          NaN
month                              1.466728     0.498915          1.0

                                       25%          50%          75%  \
unnamed:_0                         2727.25       5454.5      8181.75
customer                               NaN          NaN          NaN
state                                  NaN          NaN          NaN
customer_lifetime_value        4014.453113  5771.147235  8992.779137
response                               NaN          NaN          NaN
coverage                               NaN          NaN          NaN
education                              NaN          NaN          NaN
effective_to_date                      NaN          NaN          NaN
employmentstatus                       NaN          NaN          NaN
gender                                 NaN          NaN          NaN
income                                 0.0      33813.5     62250.75
location_code                          NaN          NaN          NaN
marital_status                         NaN          NaN          NaN
monthly_premium_auto                  68.0         83.0        109.0
months_since_last_claim                7.0         15.0         23.0
months_since_policy_inception         24.0         48.0         71.0
number_of_open_complaints              0.0          0.0     0.384256
number_of_policies                     1.0          2.0          4.0
policy_type                            NaN          NaN          NaN
policy                                 NaN          NaN          NaN
renew_offer_type                       NaN          NaN          NaN
sales_channel                          NaN          NaN          NaN
total_claim_amount              271.082527    382.56463        547.2
vehicle_class                          NaN          NaN          NaN
vehicle_size                           NaN          NaN          NaN
vehicle_type                           NaN          NaN          NaN
month                                  1.0          1.0          2.0

                                       max
unnamed:_0                         10909.0
customer                               NaN
state                                  NaN
customer_lifetime_value        83325.38119
response                               NaN
coverage                               NaN
education                              NaN
effective_to_date                      NaN
employmentstatus                       NaN
gender                                 NaN
income                             99981.0
location_code                          NaN
marital_status                         NaN
monthly_premium_auto                 298.0
months_since_last_claim               35.0
months_since_policy_inception         99.0
number_of_open_complaints              5.0
number_of_policies                     9.0
policy_type                            NaN
policy                                 NaN
renew_offer_type                       NaN
sales_channel                          NaN
total_claim_amount             2893.239678
vehicle_class                          NaN
vehicle_size                           NaN
vehicle_type                           NaN
month                                  2.0
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 10910 | Columnas: 27

In [243]:
df_mkt = limpiar_dataset(df_mkt)

In [249]:
df_mkt.nunique()

unnamed:_0                       10910
customer                          9134
state                                5
customer_lifetime_value           8041
response                             2
coverage                             3
education                            5
effective_to_date                   59
employmentstatus                     5
gender                               2
income                            5694
location_code                        3
marital_status                       3
monthly_premium_auto               202
months_since_last_claim             37
months_since_policy_inception      100
number_of_open_complaints            7
number_of_policies                   9
policy_type                          3
policy                               9
renew_offer_type                     4
sales_channel                        4
total_claim_amount                5106
vehicle_class                        6
vehicle_size                         3
vehicle_type                         1
month                                2
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [274]:
ventas_summ = df_mkt.pivot_table(index='sales_channel',
                                 values = 'total_claim_amount',
                                 aggfunc='sum').round(2)

In [260]:
ventas_summ

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

##### La mayor cantidad de ventas viene dada por la venta por agentes, 152.49 millones. Esto confirma que los agentes no solo traen más volumen, sino que gestionan la mayor masa de ingresos de la compañía. El canal Branch se mantiene sólido en segundo lugar con 113.77 millones. Hay una diferencia de casi 40 millones respecto a los agentes, lo que refuerza la idea de que la fuerza de ventas externa (agentes) es más productiva que la oficina física.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [264]:
insight = df_mkt.pivot_table(index = 'gender',
                             columns = 'education',
                             values ='customer_lifetime_value',
                             aggfunc= 'mean').round(2)

In [265]:
insight

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

#### El Customer Lifetime Value medio se mantiene relativamente equilibrado entre géneros, aunque con variaciones interesantes según el nivel educativo: el segmento con educación Master presenta los valores más altos y consistentes en ambos géneros mientras que el grupo de High School or Below destaca especialmente en las mujeres, alcanzando el promedio más alto de toda la tabla.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [271]:
complaints = df_mkt.pivot_table(index = 'month',
                                columns = 'policy_type',
                                values='number_of_open_complaints',
                                aggfunc='sum').reset_index()

In [272]:
formato = pd.melt(complaints, 
                      id_vars=['month'], 
                      var_name='policy_type', 
                      value_name='number_of_open_complaints')

In [273]:
formato

   month     policy_type  number_of_open_complaints
0      1  Corporate Auto                 443.434952
1      2  Corporate Auto                 385.208135
2      1   Personal Auto                1727.605722
3      2   Personal Auto                1453.684441
4      1    Special Auto                  87.074049
5      2    Special Auto                  95.226817